<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img src="https://prajo.eu/9735-large_default/strzykawka-do-peklowania-30ml-kinghoff.jpg" alt="logo" width="50"
             height="50">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEW CALENDAR</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="isSelectorActive? 'nav-link' : 'nav-link disabled'"  href="#">VACCINE SELECTOR</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="isCalendarActive? 'nav-link' : 'nav-link disabled'"  href="#">VACCINE CALENDAR</a>
      </li>


    </ul>
  </div>
</nav>






