<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img src="https://prajo.eu/9735-large_default/strzykawka-do-peklowania-30ml-kinghoff.jpg" alt="logo" width="50"
             height="50">
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="redirect('')">NEW CALENDAR</button>
      </li>
      <li class="nav-item">
        <button [ngClass]="isSelectorActive? 'nav-link' : 'nav-link disabled'" (click)="redirect('selector')">VACCINE SELECTOR</button>
      </li>
      <li class="nav-item">
        <button [ngClass]="isCalendarActive? 'nav-link' : 'nav-link disabled'" (click)="redirect('calendar')">VACCINE CALENDAR</button>
      </li>


    </ul>
  </div>
</nav>






